/* small devices mobile phone */

@media screen and (max-width: 600px) {
    .header-section {
        flex-direction: column;
        margin-left: 50px;
        justify-content: center;
    }

    .items-container {
        flex-direction: column;
        margin: 50px;
        gap: 20px;
    }

    .banner-text {
        flex-direction: column;
        padding-top: 32px;
        margin-bottom: 20px;

    }

    .banner-text p {
        text-align: center;
        padding: 0;
        font-size: 14px;
        line-height: 21px;

    }

    .banner-text h2 {
        text-align: center;
        font-size: 22px;
    }

    .banner-input-form {
        display: flex;
        width: 287px;
        padding: 16px;
        flex-direction: column;
        /* align-items: center; */
        gap: 16px;
        margin-left: 100px;
        margin-top: 0;
    }
    .footer-heading{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .banner-input-form input {
        width: 255px;
        height: 52px;
    }

    #When {
        width: 255px;
        height: 52px;
    }

    #Select {
        width: 255px;
        height: 52px;
    }

    .btn-primary {
        width: 255px;
        height: 52px;
    }

    /* popular section responsive */
    .popular {
        flex-direction: column;
        width: 375px;
        margin-top: 20px;

    }

    .popular-text h3 {
        color: #131318;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 12px;

    }

    .popular-text p {
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 12px;

    }


    .popular-text li {
        color: rgba(19, 19, 24, 0.70);
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 12px;
    }

    .popular-img {
        width: 335px;
        height: 342px;
    }

    /* .popular-list {} */

    .btn-primary-1 {
        width: 174px;
        height: 52px;
    }

    .destination {
        margin-top: 210px;
        /* flex-direction: column; */
    }
    .destination-text{
        padding-left: 10px;
        text-align: center;
    }
    destination-text h3 {
        color: #131318;
        text-align: center;
        font-size: 20px;
        font-weight: 800;
        margin-bottom: 5px;
    }
    
    .destination-text p {
        color: rgba(19, 19, 24, 0.70);
        text-align: center;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 5px;
        padding-left: 17%;
        padding-right: 20%;
    
    }

    .row {
        height:360px ;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    .destination-img img {
        width: 335px;
        height: 176px;
    }


}




/* Large devices Laptop desktop */
@media screen and (min-width: 992px) and (max-width: 1440px) {}